#industries {
  /* border: 1px solid #000; */
  width: 70%;
  margin: auto;
  margin-left: 2%;
  display: flex;
  margin-top: 50px;
}
#industries>div{
  /* border: 1px solid #000; */
  width: 33%;
  /* font-size: 14px; */

}
#industries> div > div {
  /* border: 1px solid rgb(175, 21, 21); */
  cursor: pointer;
  display: flex;
  border-radius: 10px;
  /* padding: 10px; */
padding-top: 1px;
padding-bottom: 1px;
  width: 80%;
  transition: .5s;
  margin: auto;
  
  margin-top:15px;
}
#industries>div>div>div{
    /* border: 1px solid #000; */
    width: 200px;
    /* margin-left: 10px; */
}
#industries > div > div:hover {
   /* width: 85%; */

   /* margin: auto; */
   padding-left: 20px;
   padding-right: 20px;
  background-color: #ddd9d960;
}
#industries> div > div:hover #arrow {
  visibility: visible;
}
#industries>div >div >img{
  /* border: 1px solid #000; */
    width: 30px;
    object-fit: contain;
    margin-right: 10px;
    margin-top: 30px;
    /* padding-top: 30px; */
  }
#business {
  width: 29%;
  background-color: #f9f9f9;
  padding-top: 20px;
  /* border: 1px solid #000; */
}

#business ul{
  padding-left: 40px;
}


#business>ul li{
    list-style: none;
    font-size: 15px;
    text-decoration: none;
    width: 70%;
  
  }
  #business>ul>li a{
    text-decoration: none;
    color: black;
    /* margin-left: 10px; */
    display: flex;
    align-items: center;
    padding: 10px;
    text-align: center;
    /* border: 1px solid #000; */
    /* margin-bottom: 10px; */
    border-radius: 10px;
    transition: .2s;
  
  }
  #business >ul>li> a img{
    margin-right: 10px;
  }
  #business>ul>li a:hover{
    background-color: #fff;
  }
  #business>ul>li a:hover #arrow{
    background-color: #fff;
    visibility: visible;
  }
  #business>ul:last-child{
    /* border: 1px solid #000; */
    margin-top: 40x;
    padding-left: 40px;
  }
  #business h3{
    /* border: 1px solid #000; */
    margin-top: 30px;
  }

  #business h3{
    color: #646f79;
    font-size: 15px;
    letter-spacing: normal;
    line-height: 21px;
    margin-left: 50px;
    font-family: 'Roboto', sans-serif;
      /* border: 1px solid #000; */
  }