#container {
  width: 100%;
  height: 660px;
  display: flex;
  margin-top: 1px;
}
#sidebar {
  width: 19%;
  background-color: #515253;
  height: 660px;
  color: #fff;
}
#sidebar > div {
  /* border: 1px solid #000; */
  margin-top: 30px;
}
#sidebar > div h4 {
  margin-left: 29px;
  margin-bottom: 30px;
}
#sidebar > div li {
  list-style: none;
  padding: 5px;
  /* margin-top: 5px; */
  padding-left: 30px;
  font-size: 15px;
  font-weight: 400;
  /* margin-top: 10px; */
  cursor: pointer;
}
#sidebar > div li:hover {
  background-color: #4da2c4;
}
#sidebar > div li:focus {
  background-color: rgb(20, 189, 189);
}
#ticket-section {
  width: 79%;
  height: 660px;
  /* border: 1px solid #000; */
  overflow-y: scroll;
  /* background-color: #e5e8e8; */
}
#ticket-section::-webkit-scrollbar {
  width: 0;
}

#pop-up-container {
  display: flex;
  border: 1px solid #000;
  /* background-color: aqua; */
  position: absolute;
  top: 60px;
  width: 70%;
  margin-left: 28%;
}

#ticket-form {
  background-color: #fff;
  position: absolute;
  top: 60px;
  margin-left: 40%;
  width: 65%;
  height: 660px;
  z-index: 2;
  display: none;
  overflow-y: scroll;
}
#ticket-form::-webkit-scrollbar {
  width: 0;
}
#bcg {
  width: 90%;
  position: absolute;
  top: 50px;
  height: 670px;
  /* border: 1px solid #fff;  */
  background-color: #5c5c5c7a;
  z-index: 1;
  display: none;
}

#sort-bar {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-around;
}

#tickets {
  width: 95%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0px;
  background-color: #fff;
  border-radius: 3px;
  margin: auto;
  margin-top: 20px;
    margin-bottom: 30px;
  /* border-bottom-left-radius: 15px; */
}
#detailediv {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
#upper-div {
  display: flex;
  height: 70px;
  align-items: center;
  /* border: 1px solid #000; */
}
#lower-div {
  display: grid;
  height: 40px;
  align-items: center;
  background-color: #fafafa;
  grid-template-columns: 120px 120px 130px 120px 120px 508px 50px;
}
#lower-div div {
  border: 1px solid rgba(0, 0, 0, 0.226);

  /* border-radius: 10px; */
  padding-left: 20px;
  padding-right: 20px;
}
#lower-div div:last-child {
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;
  /* border-bottom-right-radius: 10px; */
}
#lower-div div:first-child {
  /* border-start-end-radius: 10px; */
  /* border-bottom-left-radius: 10px; */
  border: 1px solid rgba(0, 0, 0, 0.074);
}

#ticket-status option:nth-child(1) {
  background-color: #fda201;
  
}
#ticket-status option:nth-child(2) {
  background-color: #0373d3;
  
}
#ticket-status option:nth-child(3) {
  background-color: #a3a43b;
}
#ticket-status option:nth-child(4) {
  background-color: #0984e3;
}
#ticket-status option:nth-child(5) {
  background-color: #2ecc71;
}
#ticket-status option:nth-child(6) {
  background-color: #737373;
}
#ticket-status option:nth-child(7) {
  background-color: #48dbfb;
}

#create {
  /* padding: 10px; */
  padding-left: 10px;
  padding-right: 10px;
  background-color: #606161;
  font-size: 30px;
  margin-left: -240px;
  cursor: pointer;
  border: 0;
}
#sort {
  height: 40px;
  width: 200px;
}
